
<div class="post-content <% if(config.post_style && !config.post_style.indent) {%>no-indent<% } %>">
  <%-page.content%>
  <div id="comment-container"></div>
  <div id="disqus_thread"></div>
  <div class="giscus"></div>
  <div id="lv-container"></div>
</div>
