/*varibles*/
* {
  font-family: "italic", Helvetica, Arial, "Heiti SC", "Microsoft YaHei";
}
body,
html {
  margin: 0;
  padding: 0;
}
body {
  margin-left: calc(100vw - 100%) !important;
}
.red {
  color: red;
}
.hide {
  display: none !important;
}
.show-block {
  display: block !important;
}
.show-block {
  animation: showBlock 0.4s forwards;
  display: block !important;
}
@keyframes showBlock {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hide-block {
  display: block !important;
  animation: hideBlock 0.4s forwards;
  opacity: 1;
  transform: translateY(0);
}
@keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}
.show-flex-fade {
  animation: showFade 0.4s forwards;
  display: flex !important;
}
.hide-flex-fade {
  animation: hideFade 0.4s forwards;
}
@keyframes showFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none !important;
  }
}
.no-indent {
  text-indent: 0 !important;
}
.no-indent p,
.no-indent h1,
.no-indent h2,
.no-indent h3,
.no-indent h4,
.no-indent h5,
.no-indent h6,
.no-indent ul,
.no-indent ol {
  text-indent: 0 !important;
}
