/*varibles*/
.toc-article {
  width: 240px;
}
.toc-article ol {
  padding-left: 10px;
  cursor: pointer;
  font-size: 0;
}
.toc-article li {
  font-size: 0;
  box-sizing: border-box;
  border-left: 2px solid #cccccc;
  list-style: none;
  padding-left: 10px;
}
.toc-article li a {
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #999999;
  font-size: 14px;
}
.toc-article li a span {
  word-break: break-all;
}
.toc-article li.active {
  border-left: 2px solid #4990E2;
}
.toc-article li.active > a {
  color: #4990E2;
}
.toc-article li:hover {
  border-left: 2px solid #4990E2;
}
.toc-article li:hover > a {
  color: #4990E2;
}
.toc-article > ol > li {
  border-left: none !important;
}
.toc-fixed {
  position: fixed;
  top: 10px;
  width: 240px;
}
.toc-fixed::-webkit-scrollbar {
  width: 0;
}
.toc-fixed::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 2px;
}
@media screen and (max-width: 1180px) {
  .toc-article {
    display: none;
  }
}
