<div class="donate-container">
    <div class="donate-button">
        <button id="donate-button"><%= __('post.donate') %></button>
    </div>
    <div class="donate-img-container hide" id="donate-img-container">
        <img id="donate-img" src="" data-src="<%= config['root'] %><%= config.donate.img %>">
        <p> <%= config.donate.content %> </p>
    </div>
</div>