
<footer class="footer">
    <ul class="list-inline text-center">
        <% for (var name in theme.social_links) { %>
            <li>
                <a target="_blank" href="<%= theme.social_links[name] %>">
                    <span class="fa-stack fa-lg">
                        <i class="<%= name %>"></i>
                    </span>
                </a>
            </li>
        <% }; %>
    </ul>
    <% if(config.friends) { %>
    <p>
        <span>/</span>
        <% config.friends.forEach(function(friend){ %>
        <span><a href="<%= friend.href %>"><%= friend.title %></a></span>
        <span>/</span>
        <% }); %>
    </p>
    <% }%>
    <p>
        <span id="busuanzi_container_site_pv">
            <span id="busuanzi_value_site_pv"></span>PV
        </span>
        <span id="busuanzi_container_site_uv">
            <span id="busuanzi_value_site_uv"></span>UV
        </span>
        Created By <a href="https://hexo.io/">Hexo</a>  Theme <a href="https://github.com/aircloud/hexo-theme-aircloud">AirCloud</a></p>
</footer>


