.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #979797;
  margin-bottom: 10px;
}
.footer p {
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 300;
}
.footer p a {
  font-weight: 300;
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  cursor: pointer;
  color: #333333;
}
.footer p span a {
  font-weight: 300;
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  cursor: pointer;
  color: #979797;
  text-decoration: none;
}
.footer p span a:hover {
  color: #333333;
}
.list-inline.text-center {
  color: #444444;
  font-size: 20px;
  padding-left: 0;
  margin-bottom: 0;
}
.list-inline.text-center li {
  display: inline-block;
  margin: 0 2px;
  background-color: #979797;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  text-align: center;
}
.list-inline.text-center li a {
  text-decoration: none;
}
.list-inline.text-center li a span i {
  line-height: 20px;
  color: white;
}
.list-inline.text-center li:hover {
  background-color: #333333;
}
@media screen and (max-width: 680px) {
  .footer {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 300;
  }
  .footer p span a {
    font-size: 11px;
    font-weight: 300;
    font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
    cursor: pointer;
    color: #979797;
    text-decoration: none;
  }
  .footer p span a:hover {
    color: #333333;
  }
}
